.grid {
    margin: auto;
    border: 6px solid #4762ad;
    height: 590px;
    width: 685px;
    display: flex;
    flex-wrap: wrap;
    background-color: #638CFF;
    align-content: space-between;
  }
  
  .grid div {
    height: 70px;
    width: 70px;
    margin: 2%;
    background-color: white;
    border-radius: 50px;
    color: white;
    text-align-last: center;
    font-size: 55px;
    font-family: fantasy;
    
  } 
    
  .Jugador-uno {
    background-color: red !important;
    border-radius: 50px !important;
  }
  
  .Jugador-dos {
    background-color: rgb(241, 228, 36) !important;
    border-radius: 50px !important;
}

h2{
    text-align: center;
    font-size: xxx-large;
    background-color: black;
    color: whitesmoke;
}

h3{
    font-size: 1.8em;
    margin-left: 24%;
}

p{
    font-size: 1.4em;
    margin-left: 24%;
}

@media screen and (min-width: 670px) and (max-width: 1280px) {
    .grid {
        height: 840px;
        width: 950px;
      }
    
      .grid div {
        height: 120px;
        width: 115px;
        margin: 1%;
        border-radius: 80px;
        text-align-last: center;
        font-size: 85px;
      } 
        
      .Jugador-uno {
        border-radius: 80px !important;
      }
      
      .Jugador-dos {
        border-radius: 80px !important;
       }
    
      h3{
        margin: 0%;
      }
    
      p{
        font-size: 1.3em;
        margin: 0%;
      }
  }